.skill-button {
  cursor: pointer;
  width: 16rem;
  height: 4rem;
  color: #9005d5;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1.6rem;
  border: 2px solid #9005d5;
  border-radius: 5px;
  background: transparent;
  transition: 0.3s ease;
}

.skill-button:hover {
  transform: scale(1.1);
  color: white;
  border: none;
  background: #9005d5;
  box-shadow: 0 0 10px #9005d5;
}

.skill-button.active {
  cursor: pointer;
  width: 16rem;
  height: 4rem;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1.6rem;
  color: white;
  border: none;
  background: #9005d5;
  transition: 0.3s ease;
}
